* {
    background-color: rgb(212, 212, 212);
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #18839b;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #175e6d;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
}